#BS
Host notus
    HostName notus.bodekerscientific.com

Host bs9
    HostName 192.168.1.27

Host erebus
    HostName 192.168.1.20

Host erebus.remote
    HostName rdc.bodekerscientific.com
    Port 2222

Host jenkins.jbl                
    HostName jenkins.justbecausetech.com
    User root 

Host in-staging.jbl
    HostName intentions-staging.justbecausetech.com
    User core

host pan
    HostName login.uoa.nesi.org.nz
    User jared.lewis
    IdentityFile ~/.ssh/pan_rsa_key
    ServerAliveInterval 120

host fitzroy
    HostName fitzroy.nesi.org.nz
    User lewisjared

host csst.kentron.co.nz
    HostName csst-ssh.kentron.co.nz
    User root

host jared-desktop.remote
    ProxyCommand ssh rdc.bodekerscientific.com -p 2222 -W 192.168.1.90:22

host bourne
    HostName bourne.bodekerscientific.com
    User bourne
